<!DOCTYPE html>
<html lang="en">
<head>
	<title>{TITLE}</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="stylesheets/jquery-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/jquery-ui.structure.min.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/jquery-ui.theme.min.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/dataTables.jqueryui.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/select.dataTables.min.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/bbbas.css" />
	<script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="js/dataTables.jqueryui.js"></script>
	<script type="text/javascript" src="js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/dataTables.select.min.js"></script>
	<script type="text/javascript" src="js/bbbas.js"></script>
</head>
<body>
	<div id="header" class="wrap"></div>
	<div id="main">
		<div class="title">{TITLE}</div>
		<div id="debug" class='hide'>{DEBUG}</div>
		<div id="content">
